<div class="post-meta text-muted">
  <span>Posted <time data-ts="{{ page.date | date: "%s" }}" data-df="ll">{{ page.date | date: "%b %-d, %Y" }}</time></span>
  {% if page.last_modified_at %}
  <span>Updated <time data-ts="{{ page.last_modified_at | date: "%s" }}" data-df="ll">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time></span>
  {% endif %}
  <div class="d-flex justify-content-between">
    <span>By <em>{{ site.author.name | default: "Shivanshu Sharma" }}</em></span>
  </div>
</div>
